/**-------login-----------**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #cfcfcf; background: #19263d; }
.font_r { color: #febd0f; }
.login_cont {
	width: 400px;
	background: #444f62;
	background: rgba(68, 79, 98, 0.6);
	margin: 80px auto 0 auto;
	border-radius: 3px;
	padding: 30px 0;
}

.login_cont p {
	text-align: center;
}

p.w_P1 {
	font-size: 60px;
	color: #fff;
}

p.w_P2 {
	font-size: 30px;
	color: #fff;
	letter-spacing: 1px;
	font-family: "黑体";
}

p.w_P3 {
	text-align: left;
	padding-left: 26px;
	padding-top: 20px;
}

.login_table table {
	margin: 0 auto;
}

.login_table table td .tBox_input {
	width: 320px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	color: #fff;
	font-size: 14px;
	color: #eee;
	border: none;
	margin-top: 26px;
}

.login_table table td .first {
	margin-top: 10px;
}

.login_table table td .input_w {
	width: 130px;
	background: url(../images/login_icons.png) no-repeat 0px -90px #7c8597;
}
.login_icon_gr,.login_icon_mi {
    background-color:#7c8597;
}
.log_button {
	width: 100%;
	font-size: 18px;
	padding: 0 8px;
	height: 47px;
	line-height: 47px;
	border-radius: 3px;
	border-color: #278fd5 #278fd5 #278fd5 !important;
	border-width: 1px;
	border-style: solid;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background: #359de4;
	margin-top: 26px;
}

.log_button:hover {
	color: #fff !important;
	border-color: #278fd5 #278fd5 #278fd5 !important;
	background: #278fd5;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	.login_cont {
		width: 96%;
	}
	.login_table table td .tBox_input {
		width: 300px;
	}
}

input::-webkit-input-placeholder {
	color: #ccc !important; /* WebKit browsers */
}

input:-moz-placeholder {
	color: #ccc !important; /*Mozilla Firefox 4 to 18 */
}

input::-moz-placeholder {
	color: #ccc !important; /* Mozilla Firefox 19+ */
}

input:-ms-input-placeholder {
	color: #ccc !important; /* Internet Explorer 10+ */
}
@media only screen and (min-device-width : 320px) and (max-device-width : 360px) {
	.login_cont{width:96%;margin:10% auto 0 auto;}
    .login_table table td .tBox_input { width: 240px; }
}
.login_icon{
	width: 36px;
    float: left;
    height: 45px;
    margin-top: 10px;
}
.login_icon.login_icon_password{
	 margin-top: 26px;
}
.login_icon_username{
	background: url(../images/login_icons.png) no-repeat 0px 0px #7c8597;
}
.login_icon_password{
	background: url(../images/login_icons.png) no-repeat 0px -45px #7c8597;
}
