/**-------商城-----------**/
.tab_pg02 { float: left; width: 100%; height: 38px; margin-top: 10px; border-bottom: 2px #359de3 solid; z-index: 9 }
.lab_pg_xct01 { float: left; padding:0 25px;height: 37px; background: #359de3; border: 1px #359de3 solid; border-bottom: none; font-size: 15px; font-weight: bold; color: #ffffff; text-align: center; line-height: 40px; cursor: pointer; margin-left: 7px; }
.lab_pg_vor01 { float: left;padding:0 25px; height: 37px; border: 1px #e6e6e6 solid; border-bottom: none; font-size: 15px; color: #333; text-align: center; line-height: 40px; cursor: pointer; margin-left: 7px; z-index: 1; }
.content_pg02 { clear: both; }
/**-------商城搜索-----------**/
.search { margin:0 auto; width: 560px;height: 38px;background:#fff; border: 1px solid #cdcdcd;  border-radius: 2px; }
.search select { display: none; }
.search .select_box { position: relative; float: left; display: inline-block; width: 80px; height: 20px; background: url(../images/select-arrow.png) center right no-repeat; cursor: pointer; border-right: 1px solid #dcdcdc; margin-top: 10px;color:#888; }
.search .select_showbox { display: inline-block; width: 65px; padding-left: 15px; }
.search .select_showbox.active { border-right: 1px solid #dcdcdc; }
.search .select_option { position: absolute; z-index: 1050; width: 80px; top: 18px; left: -1px; background: #fff; border: 1px solid #dcdcdc; border-top: 0; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: none; padding: 6px 0; }
.search .select_option li { height: 30px; line-height: 30px; padding: 0 15px; }
.search .select_option li.selected { color: #359de3; }
.search .select_option li.hover { color: #359de3; }
.search input.inp_srh, .search input.btn_srh { border: none; background: none; color:#888;height: 38px; line-height: 38px; float: left ;-webkit-appearance : none;}
.search input.inp_srh { outline: none; width: 379px; padding: 0 10px; }
.search input.btn_srh { width: 80px; color: #999; border: none; font-size: 15px; cursor: pointer; border-radius: 2px; border-top-left-radius: 0; border-bottom-left-radius: 0;background:url(../images/faj_icon.png) no-repeat 6px 6px #e7e7e7; padding-left:24px;}
.shop_top_s{width:600px;margin:0 auto;}
.search2{width: 479px;float:left;}
.search3{width: 679px;margin-top: 30px;}
.search3 input.inp_srh {width: 579px;}
.search3 input.btn_srh {background:#4aaef1; color:#fff;padding-left:14px;}
.search3 input.btn_srh:hover{background:#41a1e1;}
.search2 input.btn_srh { width: 80px; color: #999; border-left: 1px #ccc solid; font-size: 15px; cursor: pointer; border-radius: 2px; border-top-left-radius: 0; border-bottom-left-radius: 0;background:#fff; padding-left:13px;}
.btn_scont{ width: 100px; color: #999;background:url(../images/fasc_icon.png)  no-repeat  11px 5px #f3f3f3;padding-left:20px;border: 1px #ccc solid;height: 39px;/**margin-top: 21px;**/margin-left:10px;cursor:pointer;font-size:16px;border-radius: 2px;}
.search-hot { display: inline-block; padding-top: 10px; }
.search-hot a { color: #606060; padding: 0 10px; }
.search-hot .f-red { color: #f00; }
/*....*/
.sc_table_cont{margin-top:20px;}
.sc_ph_list{width:23%;float:left;margin-left:1%;}
.sc_ph_list table {border:1px #cecece solid;background:#fff;}
.sc_ph_list table th{border-bottom:1px #cecece solid;height:38px;line-height:38px;text-align:left;background:#eee;color:#888;padding-left:25px;}
.sc_ph_list table td{line-height:35px;text-align:left;padding-left:25px;color:#777;}
.sc_ph_list table td.color_t{color:#359de3;}
.sc_table{width:74%;float:left;margin-left:1%;}
.sc_table_w{width:98%;margin:20px auto;float:none;}
.sc_table table{border:1px #cecece solid;background:#fff;}
.sc_table table th{border-bottom:1px #cecece solid;height:38px;line-height:38px;text-align:left;background:#eee;color:#888;padding-left:25px;}
.sc_table table td{line-height:35px;text-align:left;padding-left:25px;color:#777;}
.sc_table table tr:nth-child(odd){background:#f2f2f2;}
.bc_tit_o{background:#f39800;padding:0px 8px;}
.bc_tit_b{background:#359de3;padding:0px 8px;}
.dowonload_icon{font-size:15px;color:#359de3;cursor:pointer;}
.update_icon{font-size:15px;color:#359de3;cursor:pointer;}
.dowonload_icon_n,.dowonload_icon_n:hover{font-size:15px;color:#999;cursor:pointer;}
.xq_cont{position:relative;}
.xq_cont .xq_btn{cursor:pointer;}
.xq_box{width:350px;top:36px;left:-280px;text-align:left;line-height:22px;background:#fff;z-index:1;}
.xq_cont span.xq-up{left:283px;}
/*....*/
ul.sc_cont_list{list-style:none;width:98%;margin:20px auto;margin-bottom:150px;}
ul.sc_cont_list li{border:1px #e7e7e7 solid;background:#fff;min-height:200px;position:relative;}
ul.sc_cont_list li:hover{border:1px #168ddd solid;}
.cont_list_left{width:300px;position:absolute;left:10px;top:8px;}
.cont_list_right{width:74%;position:absolute;left:320px;top:8px;}
.cont_list_right table{margin-top:10px;table-layout: fixed;}
.cont_list_right table td{white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height:35px; color:#888;}

.sc_download{display:block;background:url(../images/sc_download_btn.png) no-repeat;width:65px;height:40px;line-height:40px;padding-left:70px;color:#fff;margin-top:16px;cursor:pointer;margin-right: 65px;}
.sc_update{display:block;background:url(../images/sc_update2_btn.png) no-repeat;width:65px;height:40px;line-height:40px;padding-left:70px;color:#fff;margin-top:16px;cursor:pointer;margin-right: 65px;}
.sc_latest{display:block;background:url(../images/sc_update_btn.png) no-repeat;width:65px;height:40px;line-height:40px;padding-left:70px;color:#975705;margin-top:16px;cursor:default;margin-right: 65px;}
.sc_delete{display:block;background:url(../images/sc_delete_btn.png) no-repeat;width:65px;height:40px;line-height:40px;padding-left:70px;color:#975705;margin-top:16px;cursor:pointer;margin-right: 65px;}
.cont_list_right table td a.sc_download:hover{color:#fff;}
.cont_list_right table td a.sc_update:hover{color:#975705;}
/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.spec-preview{width:300px;height:180px;border:1px solid #DFDFDF;}

/**-------商城翻页-----------**/
.page_number { line-height: 50px; width: 100%; padding: 10px 0; overflow: hidden; }
.page_number ul { list-style: none; overflow: hidden;float:right;  }
.page_number ul li { float: left; height: 30px; line-height: 30px; padding: 0 14px; background: #fff; border: 1px #ccc solid; border-radius: 3px; text-align: center; margin-right: 7px; cursor: pointer;color:#999; }
.page_number ul li:hover { background: #ddd; }
.page_number ul li.active { background: #4aaef1; border: 1px #359de3 solid; border-radius: 3px; color: #fff; }
.page_number ul li.none { background: none; border: none; }

.frm_edit_box{
	display: none;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
.search{width: 350px;}
.search input.inp_srh{width: 169px;}
.shop_top_s{width:350px;margin:0 auto;}
.search2{width: 235px;float:left;}
.search2 input.inp_srh{width:150px;}
.search2 input.btn_srh { width: 60px;}
.sc_ph_list{width:94%;float:none;margin:0 auto;}
.element{-webkit-transform-origin-x: 25px;-webkit-transform-origin-y: 0px;transition-property: -webkit-transform, height;transition-duration: 200ms, 0ms;transition-timing-function: ease-out, ease-out;transform: translate3d(0px, 0px, 0px) scale3d(0.6, 0.6, 1);}
.sc_table{width:590px;float:none;margin:20px auto;padding-bottom: 120px;}
.sc_table_w{width:590px;margin:20px auto;float:none;}
ul.lie3h_f{margin-top: 10px;}
ul.lie3h_f li{width:94%;margin-left:3%;margin-top:10px;margin-bottom:10px;background:#fff;border:1px #e6e6e6 solid;border-radius:3px;}
ul.lie3h_f li.li_second{width:94%;}
.search3{margin-top: 25px;}
.search3 input.inp_srh {width: 249px;}
.lab_pg_xct01 { padding:0 17px;}
.lab_pg_vor01 { padding:0 17px;}
.contantBox{width:96%;margin:0 auto;margin-top:15px;}
.rollBox .Cont{width:250px;margin-left:15px;margin-right:10px;}
.rollBox .Cont .pic{width:250px;}
ul.barListBox{width:96%;margin:0 auto;margin-top:18px;}
ul.barListBox li{width:100%;margin-left:0;margin-bottom:16px;}
ul.inputList li{width:100%;float:left;padding:0 0 0 4%;margin-bottom:20px;color:#888;}
ul.inputList li .lab_width{width:80px;line-height:35px;display:block;float:left;}
.ll_cont_left{left:150px;}
.ll_cont_right{float:left;width:100%;height:300px;}
ul.today_somelist li{width:100%;margin-left:0;}
.p_wordS_cont{margin-left:30%;}
ul.today_echslist li{width:100%;margin-left:0;}
.select_left select{width:120px;}
.checkbox_right .lab_width{width:30px;}
.checkbox_right a{padding:8px 12px;}
ul.today_somelist2 li{width:99%;margin-bottom:15px;}
ul.today_somelist3 li{width:99%;margin-left:0;margin-bottom:15px;}
ul.today_somelist3 li.fx_right{width:99%;}
.tad_right_l{width:100%;}
.tad_right_r{width:100%;margin-top:15px;}
ul.tad_level li{float:left;width:22%;line-height:26px;padding-left:15px;color:#fff;}
ul.tad_level li.font{color:#888;font-size:14px;width:18%;padding-left:5px;}
ul.tad_level li.one.active{background:url(../images/level_active.png) no-repeat 50px -8px #fb8888;}
ul.tad_level li.two.active{background:url(../images/level_active.png) no-repeat 50px -8px #fec780;}
ul.tad_level li.three.active{background:url(../images/level_active.png) no-repeat 50px -8px #b7e577;}
.sab_pg_xct01 { padding:0 4px;font-size: 13px; font-weight:normal;}
.sab_pg_vor01 { padding:0 3px;font-size: 13px; }
.tad_right_l2{width:100%;}
.tad_right_r2{width:100%;margin-top:15px;}
ul.sc_cont_list{list-style:none;width:98%;margin:5px auto;margin-bottom:150px;overflow:hidden;}
ul.sc_cont_list li{height:350px;margin-top:10px;}
.cont_list_left{width:98%;margin:8px 0 0 0.8%;}
.cont_list_right{width:98%;margin-left:0.8%;}
.cont_list_right table{margin-top:3px;}
.cont_list_right table td{line-height:25px;}
}
.cont_list_right table td a{
	display: inline-block;
}
#downloadCout{
	padding-top: 20px;
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 768px) and (-webkit-min-device-pixel-ratio : 3){
.element{-webkit-transform-origin-x: 30px;-webkit-transform-origin-y: 0px;transition-property: -webkit-transform, height;transition-duration: 200ms, 0ms;transition-timing-function: ease-out, ease-out;transform: translate3d(0px, 0px, 0px) scale3d(0.66, 0.66, 1);}
.lab_pg_xct01 { padding:0 23px;}
.lab_pg_vor01 { padding:0 23px;}
.sab_pg_xct01 { padding:0 5px;font-size: 14px; }
.sab_pg_vor01 { padding:0 5px;font-size: 14px; }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 360px) {
.search{width: 300px;}
.search input.inp_srh{width: 119px;}
.shop_top_s{width:300px;margin:0 auto;}
.search2{width: 185px;float:left;}
.search2 input.inp_srh{width:100px;}
.search2 input.btn_srh { width: 60px;}
.search3 input.inp_srh {width: 200px;}
.element{-webkit-transform-origin-x: 20px;-webkit-transform-origin-y: 0px;transition-property: -webkit-transform, height;transition-duration: 200ms, 0ms;transition-timing-function: ease-out, ease-out;transform: translate3d(0px, 0px, 0px) scale3d(0.51, 0.51, 1);}
.cjBox p{padding-left:90px;}
.lab_pg_xct01 { padding:0 11px;}
.lab_pg_vor01 { padding:0 11px;}
.rollBox .Cont{width:200px;}
.rollBox .Cont .pic{width:200px;}
ul.inputList li .lab_width{width:80px;line-height:35px;display:block;float:left;}
ul.inputList li a{float:left;padding:8px 14px;}
.select_left select{width:80px;}
.checkbox_right a{padding:8px 10px;}
ul.tad_level li{float:left;width:20%;line-height:26px;padding-left:15px;color:#fff;}
ul.tad_level li.font{color:#888;font-size:13px;width:20%;padding-left:5px;}
.sab_pg_xct01 { padding:0 2px;font-size: 12px; font-weight:normal;}
.sab_pg_vor01 { padding:0 2px;font-size: 12px; margin-left: 3px;}
}
#fab_2,#fab_3{padding-top:20px;}

.modal-backdrop {
	display:none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #000;
    opacity:.5;
}
.modal {
	display:none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    opacity:1;
}
.modal-content {
    position: relative;
    width: auto;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}