/* CSS Document */
*{ margin:0; padding: 0;}
header, section, footer, aside, nav, main, article, figure { display: block; }
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 , input, textarea {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti; color: #323232;
}
a:link, a:visited, a:active { color: #FCFCFC; text-decoration: none }
a:hover { color: #84bfea; text-decoration: none }
ol, ul { list-style: none; }
:focus { outline: 0; }
input[type=text], input[type=password], textarea { font-size: 14px;  padding-left: 8px;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.hidden{ display: none;}
.float-l{ float: left !important;}
.float-r{ float: right !important;}
.container_content{
  padding: 0 20px 0 20px;
}
.text-ellipsis {
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}


.i-mark{
border-left: 2px solid #20a0ff;
padding-left: 8px;
}
