/* CSS Document */
/*引入字体*/
@font-face {
	font-family: "HATTEN";/*数字字体2*/
	src: url('../fonts/hatten-webfont.eot');
	src: url('../fonts/hatten-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/hatten-webfont.woff') format('woff'), /* chrome, firefox */
		 url('../fonts/HATTEN.TTF') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/hatten-webfont.svg#HATTEN') format('svg'); /* iOS 4.1- */
}

.top-breadcrumb{ width:100%;line-height:58px; padding: 22px; padding-left: 30px; font-size:14px; color:#9ea3b4; }
.m-30{ margin:auto 30px;}
.echartbox1{ height: 280px;}
.echartbox2{ height: 240px;}
.mapBoxA{height:760px;}

.scenario{ font-size: 14px; color:#9ea3b4; background-color:#0d1011;}
ul.scenario-tabs > li{ float:left; padding: 0px 15px; border: 1px solid rgba(53,66,94,0.4); cursor:pointer;}
ul.scenario-tabs > li>a{font-size: 12px; line-height: 22px; letter-spacing:2px; color:#9EA3B4;  text-align: center;}
ul.scenario-tabs > li.active{background-color:#2196F3;}
ul.scenario-tabs > li.active > a{ color:#fff;}

ul.map_time{list-style:none;position:absolute;right:26px;top:26px;z-index:99}
ul.map_time li{float:left;border:1px #1d2530 solid;font-size:12px;padding:0 15px;line-height:22px;color:#9ea3b4;cursor:pointer;}
ul.map_time li.active{background:#2196f3;color:#fff;}



.tab-location{position: absolute; right:30px;}

/*pagination css*/
.paglocation{margin-top: 20px;}
.paglocation.el-pagination {color:#9EA3B4;}
.paglocation.el-pagination .btn-next,
.paglocation.el-pagination .btn-prev {
    background: center center no-repeat #0d1011;
    border: 1px solid rgba(53,66,94,0.4);
    color: #9EA3B4;
}
.paglocation.el-pagination > ul.el-pager >li{
	background: #0d1011;
    border: 1px solid rgba(53,66,94,0.4);
}
.paglocation.el-pagination > .el-pager li.active {
    border-color: #20a0ff;
    background-color: #20a0ff;
    color: #fff;
    cursor: default;
}
/*table css*/
.dark-table::after, .dark-table::before {
    content: '';
    position: absolute;
    background-color: transparent;
    z-index: 1;
}
.dark-table{color:#9EA3B4; background-color:inherit; border: 1px solid transparent;}
.dark-table tr{ background-color: transparent;  }
.dark-table > .el-table__header-wrapper tr th{ background-color: inherit; border:1px solid rgba(51,52,54,0.4); }
.dark-table > .el-table__body-wrapper tr td{border: 1px solid rgba(51,52,54,0.4);}
.dark-table > .el-table__header-wrapper thead div {color: #9EA3B4;background-color:inherit;}
.dark-table .el-table__body tr:hover {background-color: rgba(51,52,54, 0.2);}
.dark-table .el-table__body tr:hover>td {
    background-color: transparent;
    background-clip: padding-box;
}

/*网络攻击*/
.padding_b30{padding-bottom:30px;}
.margin_t60{margin-top:60px;}
.postion_r{position:relative}
.right_t{width:80%;margin:0 auto;margin-top:40px;}
.right_t p{font-size:12px;color:#fff;}
.right_t p.wordA{font-size:60px;font-family: "HATTEN";}
.right_t i{position:absolute;top:13px;right:1px;font-size:16px;color:#fff;}
.right_c{height:240px;}
.right_b{height:330px;}


/*企业拓扑 */
.scenario-form-item > .el-form-item__content  .el-input > input{
    background-color: transparent;
    border: 1px solid rgba(51, 52, 54, 0.4);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
}
.scenario-form-item > .el-form-item__content .el-input > i{
    border-right: 1px solid rgba(51, 52, 54, 0.4);
	border-left: 1px solid rgba(51, 52, 54, 0.4);
    color: #9ea3b4;
}
.attack-path{display: inline-block; width: 20px;height: 4px; border-radius: 4px; vertical-align: middle; background-color: #e33f3f; margin-right: 10px;}


/* 异常登录 */
.map_time{position:absolute; right:2%; top:0%;}
.right_t p.font_b {color:#007be8;}
.i2 i{right:45px;}
.echarts_BoxA{height:320px;}
.echarts_BoxB1{height:280px;}
.echarts_BoxB2{height:250px;}
.echarts_BoxB3{height:300px;}
.margin_t20{margin-top:20px;}
.p_img_cont{height:575px;background:url(../images/yclog_img.png) top center no-repeat;background-size:contain; position:relative;}
.font_12{font-size:12px;}
.p_img_cont p{color:#fff;margin-bottom:6px;}
.pos_leftA{position:absolute;top:36px;left:10%;}
.pos_leftB{position:absolute;top:173px;left:3%;}
.pos_leftC{position:absolute;top:384px;left:4%;}
.pos_rightA{position:absolute;top:52px;right:80px;}
.pos_rightB{position:absolute;top:268px;right:5px;}
.pos_rightC{position:absolute;top:480px;right:120px;}
ul.timeB{right:0;top:0px;}


/*事件报表*/
.top-breadcrumb2{ border: 1px solid #e2e4e7; color: #666666 !important; font-size: 13px; font-weight: 500;}
.scenario_tabs2{ font-size: 14px; font-weight: 600; padding-top: 22px; color: #666666;}
.report-form{ padding-left:16px;}
.report-form > .el-form-item{  margin-right: 28px;}
.report-form > .el-form-item > .el-form-item__content > label{font-size:14px; font-weight: bold; color: #666666;}
.checkbox-group-m > .el-checkbox+.el-checkbox {margin-left: 26px;}
.page-position{position:absolute; right: 10px; top: 20px;}

.color-6{color: #666666;}
.p-l-0{ padding-left: 0px;}
.border{border: 1px solid #e2e4e7;}



/* 通信网络 */
.scenario-titleB{ padding-top:24px; padding-left:24px; font-size: 14px; font-weight:500; color: #9ea3b4;}
.tx_cont{height:220px}
.tx_box{position: absolute;right:2%;top:-30px;width:65%;height:220px}
dl.number_s { position: absolute; left: 10%; top: 35px; font-size: 14px; color: #9ea3b4; text-align: center; z-index: 99; }
dl.number_s dt { font-weight: normal; color: #fff; font-size: 70px;}
.margin_b20{margin-bottom:20px;}
.tp_img2{height:676px;background:url(../images/tp_img) top left no-repeat; position:relative;font-size:12px;}
.tp_word01{position:absolute;top:170px;left:214px;color: #f8f8f8;!important}
.tp_word02{position:absolute;top:238px;left:533px;color: #f8f8f8;!important}
.tp_word03{position:absolute;top:308px;left:373px;color: #f8f8f8;!important}
.tp_word04{position:absolute;top:67px;left:415px;color: #f8f8f8;!important}
.tp_word05{position:absolute;top:92px;left:485px;color: #f8f8f8;!important}
.tp_word06{position:absolute;top:125px;left:528px;color: #f8f8f8;!important}
.tp_word07{position:absolute;top:176px;left:619px;color: #f8f8f8;!important}
.tp_word08{position:absolute;top:435px;left:450px;color: #f8f8f8;!important}
.tp_word09{position:absolute;top:540px;left:500px;color: #f8f8f8;!important}
.tp_word10{position:absolute;top:290px;left:690px;color: #f8f8f8;!important}
.tp_word11{position:absolute;top:325px;left:740px;color: #f8f8f8;!important}
.tp_word12{position:absolute;top:360px;left:782px;color: #f8f8f8;!important}
.tp_wordA{position:absolute;top:620px;left:645px;color: #f8f8f8;!important}
.tp_wordB{position:absolute;top:600px;left:700px;color: #f8f8f8;!important}
.tp_wordC{position:absolute;top:540px;left:782px;color: #f8f8f8;!important}
.tp_wordD{position:absolute;top:488px;left:840px;color: #f8f8f8;!important}
.ad_box{height:80px;}


/* 6段式 */
.liuds_img3{height:578px;background:url(../images/liuds_img2.png) top center no-repeat; background-size:contain; position:relative;font-size:20px;}
