
/*攻击溯源*/
.attack-nav{margin-top:-20px;padding: 20px 40px;background-color: #f8f9fb; min-width: 1280px;}
.attack-nav >div{float: left; width: 280px;}
.attack-nav >div:first-child{width: 480px;}
.attack-nav >div:nth-child(2){width: 140px;}
.attack-nav >div>ul>li{float: left; margin-right: 30px;}
.attack-nav >div:first-child>ul>li{ margin-right: 20px;}

.attack-nav >div>ul>li>label{display: inline-block;width: 20px;background-color: #FFFFFF;color: #007be8;text-align:center;padding: 10px 0;}


.attack-nav >div>ul>li>p{color: #9EA3B4;}
.attack-nav >div>ul>li>i{color: #007be8;font-size: 18px;padding: 10px 2px 5px;}
.attack-nav >.levels-icon >ul>li>p:first-child,
.attack-nav >div:last-child >ul >li:last-child>p:first-child{padding: 15px 2px;margin-top: 5px;}

.link-line{
    height: 2px;
    border-top: 2px solid #007be8;
    text-align: center;
    width: 14%;
    margin: 15px auto;
}
.link-line span{
    position: relative;
    border: 1px solid #007be8;
    top: -10px;
    background: #fff;
    padding: 0 5px;
    color: #007be8;
}

.level-high{background: url(../images/attack_b02.png) no-repeat;}
.level-med{background: url(../images/attack_b03.png) no-repeat;}
.level-low{background: url(../images/attack_b04.png) no-repeat;}
.spite-png{background: url(../images/attack_b05.png) no-repeat center center;}

.attack-sel{padding-left: 20px;padding-top: 35px;}
.attack-sel >div{float: left;margin-right: 20px;}
.attack-sel .el-input{width: 100px;}
ul.attack-tabs > li{ float:left; padding: 0px 15px; border: 1px solid rgba(53,66,94,0.4); cursor:pointer;}
ul.attack-tabs > li>a{line-height: 34px; letter-spacing:2px; color:#9EA3B4;  text-align: center;}
ul.attack-tabs > li.active{background-color:#007be8;border: 1px solid #007be8;}
ul.attack-tabs > li.active > a{ color:#fff;}

.attack-content-top{position: relative;background-color:#fff;min-height: 600px;width: 100%;}
.attack-content-top >div{position: absolute;top:50px;z-index:0;}
.attack-content-top >div.attack-content-top1{width: 120px;left:90px;}
.attack-content-top >div.attack-content-top2{width: 630px;left:340px;}
.attack-content-top >div.attack-content-top3{width: 120px;left:1115px;}
.attack-content-top >div>p{padding-bottom: 30px;text-align: center;font-weight: 700;}
.attack-content-top >div>div{border: 1px dashed #007be8;height: 380px;}
.attack-topbutton .el-button:last-child{margin-left: -5px;}
