<div class="Frm_header_box">
	<div class="header_orange_bg"></div>
	<a href="index.html"id="index_title"><span ><font>SI<font class="font_r">A</font>P
		</font>安全智能分析平台</span></a>
	<div class="Frm_menu_cwidth2">
		<i class="fa fa-bars"></i>
	</div>
	<a class="toiframe" _title_="插件管理" href="pluginmanager.html"><div class="Frm_head_right">商城</div></a>
	<div class="Frm_head_right2">
		<div class="frm_edit_box zd_box" id="zdbox">
			<!-- <a class="toiframe" _title_="用户管理" href="/setting/user_view.html?head=false">用户管理</a> <a class="toiframe" _title_="消息" href="/message/message.html?head=false">消息</a>--><a class="toiframe" _title_="插件管理"
				href="pluginmanager/pluginmanager.html">商城</a><a class="Frm_hf">换肤</a><a class="logout header_logout" href="login.html">退出</a><span class="angle-up"></span>
		</div>
	</div>
	<ul class="Frm_head_list">
		<li class="first">
			<img src="../resources/images/person_icon.png" width="32" height="32" alt="" />
			<div class="Frm_cont">
				<a class="text toiframe" id="header_login_user" ></a> 
				<a id="Frm_news">消息<span class="Frm_news_num hidden"></span>
<!-- 					<div class="frm_edit_box frm_news"> -->
<!-- 						<span class="angle-up"></span> -->
<!-- 						<ul class="news_list"> -->
<!-- 						</ul> -->
<!-- 						<div class="frm_allnews e_more hidden" id="gotoallnews" style="float:left;margin-left:10px">查看全部消息&gt;&gt;</div> -->
<!-- 						<div class="frm_allnews e_all_del hidden">清空</div> -->
<!-- 					</div> -->
				</a>
				<a class="font_r last header_logout" id="header_logout">退出</a>
			</div>
		</li>
		<li title="设置" id="Frm_sz"><i class="fa fa-cog font2"></i>
			<div class="frm_edit_box">
<!-- 				<div class="head-setting"> -->
<!-- 					<a class="toiframe" _title_="用户管理" href="siap/setting/user_view.html?head=false">用户管理</a> -->
<!-- 				</div> -->
				<div class="head-setting">
					<a class="toiframe" _title_="菜单管理" href="menumanager.html">菜单管理</a>
				</div>
<!-- 				<div class="head-setting"> -->
<!-- 					<a class="toiframe" _title_="系统设置" href="siap/setting/config/system_config.html?head=false">系统设置</a> -->
<!-- 				</div> -->
				<span class="angle-up"></span>
			</div></li>
		<li title="换肤" id="Frm_hf"><i class="fa fa-clothes"></i>
			<div class="frm_edit_box box_hf">
				<ul id="skin">
					<li id="orange" title="orange" class="selected"></li>
					<li id="green" title="green"></li>
					<li id="blue" title="blue"></li>
				</ul>
				<span class="angle-up"></span>
			</div></li>
	</ul>
</div>
