/* FONTS */
body header,body footer,body .under-development{display:none}
	
  @font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
  }

  @font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
  }

  @font-face{
    font-family: 'AlegreyaSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
  }

/*Overall styling*/
  body {
    height: 100%;
    color:#3e4956;
    font-size: 14px;
    background-color: #eef1f6;
    font-family: 'Roboto-Regular', sans-serif;
  }
  h1{
    font-family: 'Roboto-Regular', sans-serif;
  }
  h2{
    font-family: 'Roboto-Light', sans-serif;
  }

  strong{
    font-family: 'Roboto-Bold';
  }

  a.anchor::before {
    content: "";
    display: block;
    margin-top: -80px;
    position: absolute;
}

/*Override some bootstrap defaults*/
  .jumbotron{
    padding: 0 10px;
  }
  .jumbotron code {
    color: black;
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
  .faq{
    line-height: 2rem;
  }

/*Navigation and links*/
  .navbar-orange{
    background-color: #c63f1d;
  }
  .navbar-orange > a > .nav-link{
    color: white;
  }
  .nav-tabs{
    border-bottom: none;
  }
  .nav-tabs .nav-link {
    color: white;
    font-family: 'Roboto-Light', sans-serif;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active {
    color: white;
    border: none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    text-decoration: underline;
  }
   .nav-tabs .nav-link:hover{
    text-decoration: underline;
    border: none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: transparent;
   }
  .nav-link{
    font-size: 1rem;
    padding: .3rem 1rem;
    color: #596877;
  }
  .nav-link.expand-title{
    font-size: 1rem;
    color: #3e4956;
    line-height: 30px;
  }
  .nav-link.side {
    padding: .3rem .3rem;
    word-break: break-word;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
  }
    .nav-link.side:before{
      content: "";
      width: 10px;
      height: 10px;
      background-color: red;
    }
  .nav-link.side:hover {
    background-color: #e1e3e4;
    color: #3e4956;
  }
  .nav-link.side.active{
    background-color: #f3f3f3;
    color: #007be8;
    border-right: 3px solid #007be8;
    font-weight: bold;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:  #ffffff;
    background-color: #c63f1f;
    border-color: transparent;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    /* color: #062f4f; */
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
  }
  .dropdown-item{
    color: #fff;
  }
  .dropdown-menu{
    background-color: #007be8;
    width: 80%;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .breadcrumb{
    background-color: white;
  }
  .heading{
    font-size: 1.6rem;
    color: #596877;
    letter-spacing: 3px;
    border-top: 1px solid #e1e3e4;
    padding: 4px 20px;
    margin-left: -16px;
    margin-right: -16px;
    display: none;

  }
  .heading-dropdown{
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 3px;
    border:none;
    background-color: #007be8;
    margin: 1rem;
  }
.heading-dropdown::after{ vertical-align: middle; }

  .expand-all{
    background-image: url('https://attack.mitre.org/theme/images/expand-all-normal.svg');
    height: 30px;
    width: 30px;
    background-size: contain;
  }
  a{
    color: #007be8;
  }
/*
  .matrix-tactics-url, .matrix-tactics-url:visited, .matrix-tactics-url:hover, .matrix-tactics-url:active {
      color: white;
      font-size: 14px;line-height: 32px;

  }*/

/*colors*/
  .gray-text{
    color: #99958F;
  }
  .bg-gray{
    background-color: gray;
    color: white;
  }
  .bg-light{
    background-color: #f3f3f3 !important;
  }
  .bg-navy{
    background-color: #062f4f;
  }
  .bg-accord-light{
    background-color: #f8f9fa;
  }
  .bg-accord-dark{
    background-color: #e9ecef;
  }

/*buttons*/
  .btn-default{
    border-color: gray;
  }
  .btn-navy {
    color: #fff;
    background-color: #062f4f;
    border-color: 1px solid #062f4f;
  }
  .btn-navy:hover{
    color: #fff;
    background-color: #1C415F;
    background-image: none;
    border-color: 1px solid #062f4f;
  }

/*tables*/
  .table{ empty-cells: hide; }
  .table-light { background-color: #f5f6fa; }
  .table-matrix {  border: none !important; }
  .table-matrix thead th {
      vertical-align: middle !important;
      text-align: center !important;
      border: 1px solid lightgrey !important;
  }
  .table-matrix td, .table-matrix th {
      padding: inherit;
      text-align: center !important;
      vertical-align: middle !important;
      border-top: none !important;
  }
  .table-matrix td .border { border: 1px solid lightgrey !important;}
  .table-matrix td .no-border {border: none !important; }
  .table-matrix tbody tr{line-height: 34px; font-size: 12px; font-weight: 500;}

.table-light td, .table-light th{padding:inherit;padding-left: 20px; vertical-align: middle; line-height: 40px; }

.table-light thead  th{ font-size:14px; font-weight: bold; border-bottom-width: 1px; }
.table-light tbody tr > td:nth-child(2) >p{ margin-bottom: 0; } 


/*footer*/
  .footer > .container-fluid{
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .footer{
    background-color: #062f4f;
    color:white;
    font-family: 'Roboto-Thin', sans-serif;
  }

@media only screen and (max-width: 1450px) {
    .heading-dropdown{
      font-size: 1rem;
      color: #062f4f;
      letter-spacing: 1px;
    }
    .heading{
      font-size: 1.2rem;
      color: #596877;
      letter-spacing: 3px;
    }
}

.under-development {
    font-size: 120%;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #f3f3f3;
}

.search-results {
    width: 220px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 99999;
    position: absolute;
    padding-left: .5rem!important;
    padding-right: .5rem!important;
    background-color: #FBF9F9;
    border: 1px solid #CAC7C8;
    right: 14px;
    visibility: hidden;
    font-size: 80%;
    color: #505050;
}

.search-results a {
    text-decoration: none;
    color: #505050;
    margin-bottom: 3px;
    display: block;
}

.search-results a:hover {
    color: #000;
}

.search-header {
    margin-top: 10px;
    display: block;
    color: #DB6C2C;
}

.search-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-highlight {
    weight: 300;
    color: #DB6C2C;
}

img[alt=figure] {
    max-width: 100%;
    display: block;
}

.blog-box {
    display: none;
}

.load-more {
    display: none;
}

.blog-archive{
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

.blog-archive-subtitle {
    font-style: italic;
 }
 
 .description-body {
     line-height: 1.6rem;
 }

 .card-data {
     margin-bottom: 0.5rem;
     /*color: #555555;*/
 }

 .card-title {
     font-size: 14px;
     color: #3e4956;
     font-weight: bold;
 }

 .table-mitigations th, .table-mitigations td {
    white-space: nowrap; 
    width: 1%
 }

 pre {
    background-color: #f3f3f3;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    padding: 1rem;
}

.back-link {
    text-decoration: none;
    color: #F47D3F;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-link {
  color: #ffffff;
}

.table-nowrap {
  white-space: nowrap;
  width: 1%;
}

.external-icon {
    width: 15px;
    margin-top: -5px;
}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.bg-mitre-red {
    background-color: #c63f1f;
}

.attack-logo-bold {
    width: 60%;
}

.navbar-brand {
    font-size: 2rem;
}

.twitter-card {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.btn-twitter {
    width: 400px;
    margin: 0 auto;
}

.breadcrumb {
    font-size: 90%;
    display: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.matrix-header {
    color: #212529ad;
}

.expand-icon {
    font-size: 5%;
    color: #343434;
    margin-top: 7px;
}

.table-statistics {
    display: flex;
    justify-content: flex-end;
}

.getting-started-mobile-view {
        display: none;
    }

.getting-started-desktop-view {
        display: contents;
}

@media screen and (max-width: 767.8px) {
    .getting-started-mobile-view {
        display: block;
    }

    .getting-started-desktop-view {
        display: none;
    }

    #mobile-container {
        max-height: calc(70vh - 15px) !important;
        overflow-y: auto;
    }
}

@media screen and (max-width: 581.8px) {
    #mobile-container {
        max-height: calc(67vh - 12px) !important;
        overflow-y: auto;
    }
}

@media screen and (max-width: 521.8px) {
    #mobile-container {
        max-height: calc(64vh - 12px) !important;
        overflow-y: auto;
    }
}

@media screen and (max-width: 407.8px) {
    #mobile-container {
        max-height: calc(61vh - 12px) !important;
        overflow-y: auto;
    }
}

.bs-callout {
    padding: 0 20px 20px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout p {
    margin-left: 20px;
}
/*.bs-callout h5 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 5px;*/
/*}*/
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h5 {
    color: #777;
    margin-top: 15px;
    margin-bottom: 10px;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h5 {
    color: #428bca;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h5 {
    color: #5cb85c;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h5 {
    color: #d9534f;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h5 {
    color: #f0ad4e;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h5 {
    color: #5bc0de;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.examples-p {
    margin-left: 5px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    word-break: break-word;
}

.p-first {
    margin-right: 0; /*30px;*/
}

.examples-div {
    display: flex;
}

.nested-examples-div {
    padding-left: 50px;
}

.new-examples {
    padding: 10px 10px 0px 10px;
    width: 100%;
}

.new-examples h5 {
    font-weight: 600;
}

.second-example {
    margin-top: 30px;
    margin-bottom: 20px;
}

.second-example h5 {
    font-weight: 600;
}

.example-container {
    background-color: #F3F3F3;
    padding: 15px;
}

.example-container h6 {
    font-weight: 600;
}

#sw-nav-mobile-view {
    display: none;
}

#sw-nav-desktop-view {
    display: block;
}

@media screen and (max-width: 767.8px) {
    #sw-nav-mobile-view {
        display: block;
    }

    #sw-nav-desktop-view {
        display: none;
    }
}

#group-nav-mobile-view {
    display: none;
}

#group-nav-desktop-view {
    display: block;
}

@media screen and (max-width: 767.8px) {
    #group-nav-mobile-view {
        display: block;
    }

    #group-nav-desktop-view {
        display: none;
    }
}

.margin-contribute-a {
    margin-left: 25px;
}

.margin-contribute-b {
    margin-left: 183px;
}

/*.tooltip, .tooltip .tooltip-container {*/
    /*transform: none !important;*/
/*}*/

/*.tooltip-arrow {*/
    /*position: absolute;*/
    /*bottom: 86%;*/
    /*left: 50%;*/
    /*margin-left: -5px;*/
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: transparent transparent black transparent;*/
/*}*/





/***2019年7月2日****/

/********** 5. Panel **********/
.el-panel {
  margin-bottom: 16px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);
          box-shadow:0 1px 1px rgba(0, 0, 0, .05);
}
.el-panel-body {padding:15px 30px;}
.matrix-header{ color:#3e4956;font-size: 28px; font-weight: bold; text-align: center; line-height: 94px; margin-bottom: 0; }
.total_classify{ background-color: #007be8;  line-height: 40px; font-size: 16px; color: #fff; }
.total_classify th{ border-bottom: none !important; }
.classify th{ background-color: #f5f6fa;  line-height: 37px }
.classify th a{ color: #3e4956; font-size: 14px; font-weight: bold; }

.container-fluid{margin:20px; width: inherit}
.sidebar,.tab-content{ background-color: #fff; padding-top: 0rem !important ;position: relative;}

.border-right{ border-right: 2px solid #e1e3e4; }
.tab-content .container-fluid{margin:0;}
.tab-content .container-fluid h1{ color: #3e4956;font-size: 24px;  font-weight: bold;margin-bottom: 0;line-height: 68px; }

.tab-content .container-fluid h2{font-size: 24px; line-height: 40px; }

/**展开／收起**/
.show-unshow{ 
  position: absolute; 
  top: 420px; 
  z-index: 100;  
  left: -1px; 
  height: 38px; 
  width: 16px; 
  background-color: #e1e3e4; 
  text-align: center; 
  line-height: 38px; 
  cursor: pointer; 
}
.triangle{
    display: block;
    margin-top:10px;
    margin-left: 2px;
    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid #3e4956;

}





/**参考文献样式**/
#references + .row ol{ padding-left: 10px !important;list-style-type:none;counter-reset:sectioncounter; }
#references + .row ol li{ font-size: 14px; color: #007be8; line-height: 26px; }
#references + .row ol li:before {
       content:counter(sectioncounter) "."; 
       counter-increment:sectioncounter;
       color:#3e4956;
       font-weight: bold;
       padding-right:6px
}


.test{ color: red }
/**辅助*/
.m-20{margin:20px;}
.p-t-0{ padding-top: 0; }

